@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kalam&family=Poppins&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);


.con1 {
   background-image: url('../../../assets/contact-us-images/app-development-first-bckground-new1.svg');    
  background-repeat: no-repeat;
  background-size: cover;
  
}

.data {
  margin: 15% auto;
}

.text-function {
  font-family: poppins;
  color: #BA1200;
  font-size: 1.06rem;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
}

.head-text {
  color: #3D63EA;
  white-space: nowrap;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120%;
  font-size: 48px;
  font-style: normal;
}

.para {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.56rem;
  font-family: Poppins;
}


.circle-container {
  display: flex;

  margin: -5% 12% 5% 0%;
}

.circle {
  
  width: 3.12rem;
  height: 3.12rem;
  border-radius: 50%;
  background-color: #F6C73B;;
  margin: 0.37rem;
}

.circle:nth-child(2) {
  background-color: #6EA731;
}

.circle:nth-child(3) {
  background-color: #7D00B1;
  ;
}

.circle:nth-child(4) {
  background-color: #FF4D6D;
}

.circle:nth-child(5) {
  background-color: #FF6610;
}

.circle:nth-child(6) {
  background-color: #C87AE1;;
}

.circle:nth-child(7) {
  background-color: #0CBC8B;
}

.circle:nth-child(8) {
  background-color: #3D63EA;
  ;
}

.image {
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.img-lady {
  
  max-width: 100%;
  opacity: 0.8;
  margin-bottom: 18%;
  margin-top: 12%;
  
  }

.line{
margin-left: 48%;
margin-top: 2%;
margin-bottom: 1%;
width: 4.31rem;
height: 1.43rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serviceLink {
 border-radius: 0.62rem;
background: rgba(246, 199, 59, 0.22);
  border-radius: 0.62rem;
  background: rgba(246, 199, 59, 0.22);
background-color: rgba(226, 232, 252, 1);
  padding: 1% 1%;
  margin: 1%;
  font-family: poppins;
  font-size: 0.93rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color:black;
width: 13.12rem;
height: 3.68rem;
text-align:center;
transition: all 0.5s;
}

.serviceLink:hover {
  background-color: rgb(98, 121, 194);
  color:#fff;
}

.headtxt{
  text-align: center;
  margin-top: 2.5%;
  font-size: 40px;
}



.Main{
  background-image: url('../../../assets/contact-us-images/Rectangle 40090 (2).svg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 24% 5% 0% 5%;
  margin-top: 3.5%;
}

.imgnew{
  height: 18rem;

}
.imgnew2{
  height: 19rem;
}

.sec3_img1{
  padding: 7%;
}

.pgh{

  color: #000;
font-family: Poppins;
font-size: 0.87rem;
font-style: normal;
font-weight: 400;
text-align: start;

}

.pgh2{
color: #000;
font-family: Poppins;
font-size: 0.87rem;
font-style: normal;
font-weight: 400;
text-align: start;
margin: 3% 5% 0% 2%;
}

.pgh3{
padding: 8% 3% 10% 12%;
text-align: start; 

color: #000;
font-family: Poppins;
font-size: 0.87rem;
font-style: normal;
font-weight: 400;

}


.imgnew3{
  margin-top: 7%;
  height:18rem;
}



@media screen and (max-width: 1024px)
{

  .imgnew3{
    width: 350px;
    height: 400px;
   }
   .pgh3{
    margin-top: 9%;
  }
   .imgnew{
    width: 350px;
    height: 350px;
  }
  .pgh{
    margin-top: 2%;
  }
  
  .imgnew2{
    width: 350px;
    height: 350px;
  }
  .line{
    margin-left: 47%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 4.31rem;
    height: 1.43rem;
  }
}

@media screen and (max-width: 992px)
{
 .imgnew3{
  width: 330px;
  height: 330px;
  margin-top: 5%;
 }
 .imgnew{
  height: 360px;
  width: 300px;
}
.pgh{
  margin-top: 8%;
}
.pgh3{
  margin-top: 5%;
}

.imgnew2{
  width: 350px;
  height: 350px;
}
.circle{
  width: 3.12rem;
  height: 2.7rem;
  border-radius: 50%;
}

}



@media screen and (max-width: 768px)
{
  
    .imgnew{
      width: 320px;
      height: 350px;
      
    }
    .pgh{
      text-align: justify;
      
        }
    .imgnew2{
      width: 320px;
      height: 350px;
      margin: 0% 0% 0% 3%;
    }
    .pgh2{
      text-align: justify;
      padding: 0% 0%;
      margin-bottom: 3%;
    }
    .imgnew3{
      width: 320px;
      height: 300px;
    }
    .pgh3{
      margin-top: 0%;
      text-align: justify;
    padding: 6% 5%;
}
.line{
  margin-left: 46%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 4.31rem;
  height: 1.43rem;
}
.data{
  margin: 10% auto;
}
.img-lady{
  max-width: 100%;
  opacity: 0.8;
  margin-bottom: 32%;
  margin-top: 5%;
}

}

@media screen and (max-width: 575px)
{
 .imgnew3{
  width: 300px;
  height: 330px;
 }
 .imgnew{
  width: 300px;
  height: 330px;
}

.pgh{
  margin-left:auto;
  margin-right:auto;
  text-align:start;
}

.imgnew2{
  width: 330px;
  height: 330px;
}

.line{
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 1%;
   width: 4.31rem; 
  height: 1.43rem; 
}
.data{
  margin: 10% auto;
}

.img-lady{
  max-width: 100%;
  opacity: 0.8;
  margin-bottom: 32%;
  margin-top: 0%;
}
.head-text{
  font-size: 35px;
}
.para{
  font-size: 16px;
}
}


 
@media screen and (max-width: 425px) {

  .line{
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 4.31rem;
    height: 1.43rem;
  }
  .imgnew{
    width: 230px;
    height: 200px;
  }
  .imgnew2{
    width: 230px;
    height: 200px;
  }
  .imgnew3{
    width: 230px;
    height: 200px;
  }
  .head-text{
    font-size: 27px;
  }
  .circle{
    width: 3.12rem;
    height: 2.3rem;
    border-radius: 50%;
  }
}


@media screen and (max-width: 375px){
  .head-text{
    font-size: 25px;
  }
  .circle{
    width: 3.12rem;
    height: 1.8rem;
    border-radius: 50%;
  }
  .para{
    font-size: 14px;
  }
}

@media screen and (max-width: 320px)
{
  .imgnew{
  width: 200px;
  height: 200px;
}
.imgnew2{
  width: 200px;
  height: 200px;
}
.imgnew3{
  width: 200px;
  height: 200px;
}
.line{
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 4.31rem;
  height: 1.43rem;
}
}





