<div class="container mt-4">
    <footer>
        <div class="footer-section row">
            <div class="logo col">
                <img [src]="logo" alt="Company Logo">
            </div>
            <div class="links col">
                <div class="heado mb-2">Links</div>
                <p><a routerLink="/service/software-development" target="_top" class="footer_link">Services</a></p>
                <p><a routerLink="/careers" target="_top" class="footer_link">Career</a></p>
                <p><a routerLink="/about-us" target="_top" class="footer_link">About Us</a></p>
            </div>
            <div class="connect col">
                <div class="heado mb-2">Contact Us</div>
                <p><a routerLink="/contact-us" target="_top" class="footer_link">Enquiry</a></p>
                <p><a routerLink="/contact-us" target="_top" class="footer_link">+91-7714038148</a></p>
                <p><a href="mailto:info@railworld.co.in" class="footer_link">info@railworld.co.in</a></p>
                 <p>
                    <li>
                        <section class="mb-4 icons">
                            <!-- Facebook -->
                            <div class="io">
                                <a class="btn text-white btn-floating" href="#!" role="button"><i
                                        class="fa fa-facebook fa-lg"></i></a>
                            </div>
                            <div class="io">
                                <a class="btn text-white btn-floating" href="#!" role="button"><i
                                        class="fa fa-instagram fa-lg"></i></a>
                            </div>
                            <div class="io">
                                <a class="btn text-white btn-floating" href="#!" role="button"><i
                                        class="fa fa-twitter fa-lg"></i></a>
                            </div>
                            <div class="io">
                                <a class="btn text-white btn-floating" href="#!" role="button"><i
                                        class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                        </section>
                    </li>
                </p>
            
            </div>
            <div class="maps text-center col">
                <!-- Add your map embed code here -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224568.36078938647!2d76.82493745405827!3d28.42285832434537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x2cf5fe8e5c64b1e!2sGurugram%2C%20Haryana!5e0!3m2!1sen!2sin!4v1704193738973!5m2!1sen!2sin"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </footer>
</div>
<div class="copyright text-center">
    <p>© 2024 Copyright by RWI Developers. All rights reserved.</p>
</div>