<div class="mainContaier">
  <!-- Heading  -->
  <div class="container  ">
    <div class="aboutUs">ABOUT US</div>
    <div class="itSoftware">IT and Software Development</div>
  </div>

  <!-- Section 1 -->
  <div class="firstSection">
    <div class="container   ">

      <div class="">
        <img [src]="image1" alt="" class="image1 ">
      </div>

      <div class="para1">
        Railworld India is an globally IT/Software developing company who has best IT solutions provider
        specializing
        in services for coding in the industry of IT/Software Development as well as end users. <br>

        We strive to help organizations better understand how the world of work is changing, the forces that are
        shaping it and how to win in this environment. When you are looking for your virtual presence Turnaround
        Time
        and a whole bunch of other things will be spinning through your head. <br>

        Railworld India as the name suggests leading top software and IT process. IT/Software.
        Industry is mandatory need as per the global virtual presence. As company mainly focuses on
        Railworld India
        manages the entire software and app profiling through the on-boarding of the new hire, including staff,
        technology, method and reporting. As Railworld India we take the complete ownership of client's requirments
        and
        improve a company's time to hire, increase the quality of the services verifiable metrics, reduce cost and
        improve governmental compliance.
      </div>
      <div class="border"></div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="secondSection">
    <div class="container">


      <div class="">
        <img [src]="image2" alt="" class="image2">
      </div>


      <div class="para2">
        Software development is a rapidly-changing field and software developers need to stay up-to-date on the latest
        advancements regarding the tools, frameworks, programming languages, and apps to achieve success. You can master
        the latest coding tools, strategies, and techniques through Simplilearn’s acclaimed Software Development
        courses.
        <br>
        At present, we are all surrounded by software. The number of individuals using computers in 2008 throughout the
        world crosses 1 billion. In 2019 there are 5.11 billionmobile users in the world. We know that all of these
        devices are functioning by an operating system that is a piece of software with lots of integrated functions.
        This
        is the function of the software. However, individuals and businesses throughout the world use software for many
        reasons and gaining lots of benefits. It is used in transportation, electrical grids, nuclear plants, and other
        functions that offer the basics of life.
      </div>

      <div class="border"></div>
    </div>
  </div>

  <!-- Section 3 -->
  <div class="thirdSection">
    <div class="container">
      <div>
        <img [src]="image3" alt="" class="image3">
      </div>

      <div class="para3">
        It is very important for businesses as it helps them distinguish from competitors and become more competitive.
        Software development can improve the client’s experiences, bring more feature-rich and innovative products to
        market, and make setups more safe, productive, and efficient. Digitization of information and storing it online
        will not only save space but also integrates and centralizes it so that it is easy easy to access for those who
        need it. Also, it is easy to protect your data from outsiders. When the business develops, the pool of data
        gains
        volume, and storing this data efficiently will become a point of focus for the company. For this, businesses
        need
        to develop and upgrade digital organization so that they can keep on providing consistent performance for those
        who utilize this data. Also, software development is essential for data analysis. The data collected from day to
        day tasks, when combined with the right software, can be utilized by businesses to keep a record of the trends
        among their clients.
      </div>
      <div class="border"></div>
    </div>
  </div>

  <!-- Heading -->
  <div class=" container whyChooseUs">
    Why Choose Us
  </div>

  <!-- Section 4 -->
  <div class="fourthSection">
    <div class="container">
      <div class="">
        <img [src]="image4" alt="" class="image4">
      </div>
      <div class="para4">
        Our skilled staff is dedicated to meet all of your Software Development needs. When you reach out to us with a
        concept, we not only provide you sound advice and a positive outlook, but we also investigate the practicality
        of
        the proposal and do a thorough analysis. Our services do not just end with the completion of design and
        development; we also provide adequate maintenance of our services.
        At Railworld India, we aim to bring technological solutions to our client’s businesses & help them succeed on
        every step in their business. Our vision is to provide clients with sites, apps and digital marketing that have
        the right combination of technology for their needs. For 10 years, we have catered to 100+ clients in over 10
        countries. Being a pro in webs, and other
        functions that offer the basics of life.development technologies, we aspire to empower the ideas with the latest
        techs to reach the pinnacle of success.
        Our goal at Railworld India is to help Global based, IT professionals solve their most challenging obstacle of
        finding the right job in the industry of IT and Software Development. We offer competitive wages that are at the
        top of the industry, a benefit package to include paid vacation time, providing you with the foundation for a
        healthy life/work balance.
      </div>

    </div>
  </div>
</div>





<app-footer></app-footer>