<div class="fsDataScience">
    <div class="container con1">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="fsPara">- Functional Usability & Performance</p>
                <h1 class="fsHead">Data Science <br> Analytics</h1>
                <p class="fsSecondPara">
                    we transform business of most major sectors with powerful and adaptable digital solutions that
                    satisfy the needs of today.</p>
                <div class="cirlces">
                    <div class="circle cir1"></div>
                    <div class="circle cir2"></div>
                    <div class="circle cir3"></div>
                    <div class="circle cir4"></div>
                    <div class="circle cir5"></div>
                    <div class="circle cir6"></div>
                    <div class="circle cir7"></div>
                    <div class="circle cir8"></div>
                </div>
            </div>
            <div class="col-md-6 fsImg text-center">
                <img [src]="img1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ssDataScience">
    <div class="container">
        <div class="head text-center">
            <h1 class="ssHead">Services</h1>
            <img [src]="line" alt="">
        </div>
        <div class="links">
            <div class="row text-center">
                <a routerLink="/service/ios" target="_top" class="col serviceLink">
                    <p>iOS</p>
                </a>
                <a routerLink="/service/android" target="_top" class="col serviceLink">
                    <p>Android</p>
                </a>
                <a routerLink="/service/app-development" target="_top" class="col serviceLink">
                    <p>App Development</p>
                </a>
                <a routerLink="/service/software-development" target="_top" class="col serviceLink">
                    <p>Software Development</p>
                </a>
                <a routerLink="/service/web-development" target="_top" class="col serviceLink">
                    <p>Web Development</p>
                </a>
                <a routerLink="/service/ui-ux-designing" target="_top" class="col serviceLink">
                    <p>UI/UX Designing</p>
                </a>
                <a routerLink="/service/data-science" target="_top" class="col serviceLink">
                    <p>Data Science Analytics</p>
                </a>
                <a routerLink="/service/ai-ml-development" target="_top" class="col serviceLink">
                    <p>AI_ML Development</p>
                </a>
                <a routerLink="/service/blockchain" target="_top" class="col serviceLink">
                    <p>Blockchain</p>
                </a>
            </div>
        </div>
        <div class="ssImg text-center">
            <img [src]="img2" alt="">
        </div>
    </div>
    <div class="container cards mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Data Science & Analytics Solutions</h6>
                            <p>Deriving the greatest value from data is the key to success, and this is precisely what
                                Railworld delivers through its rich pool of services..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Analytics Consulting</h6>
                            <p>Railworld India offers expert analytics consulting service that helps transform data into
                                insightful information, ensures operational excellence and gives you a competitive edge.
                                Our strategic data analytics consultants have deep domain expertise across the full data
                                stack and help resolve your business challenges in weeks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Data Warehousing</h6>
                            <p>Our experts help get your data where it needs to be, whether your data warehouse is
                                on-premise or in the cloud. We analyze your business needs to curate a custom data
                                warehouse, including a solid BI framework, data model, data integration architecture and
                                a smart database, enabling faster decision-making and allowing competitive advantage.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Big Data</h6>
                            <p>We offer a full range of big data services starting from consulting and implementation to
                                infrastructure support and maintenance. Our experts are adept at all the advanced big
                                data tools, helping you generate crucial insights from the previously untapped
                                structured, semi-structured, and unstructured data sets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Data Visualization</h6>
                            <p>Our data visualization consultants and experts understand your business needs, KPIs, and
                                business drivers to design intuitive and interactive dashboards that allow you to
                                understand your data in new ways. Our data visualization services transform complex
                                datasets into appealing visuals in a way that helps you spot trends and compare
                                performance of products effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Business Intelligence (BI)</h6>
                            <p>Our pool of Business Intelligence (BI) solutions are geared towards helping your business
                                develop an effective strategy that reduces risk and enables growth. Our Business
                                Intelligence service experts help you gain a better understanding of the key metrics
                                surrounding your operations and processes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Supply Chain Analysis</h6>
                            <p>Our supply chain analytics services help you optimize the supply chain, thus increasing
                                revenues and reducing costs. Our skilled experts tap into the full suite of supply chain
                                data analytics tools and deploy custom-developed solutions to tackle the supply chain
                                challenges specific to your business.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Key benefits to IT Hire our Expert:</h6>
                            <p class="ls">. Analytics Consulting</p>
                            <p class="ls">. Big Data</p>
                            <p class="ls">. Business Intelligence</p>
                            <p class="ls">. Data Warehousing</p>
                            <p class="ls">. Data Visualization</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>