<div class="fsAIML">
    <div class="container con1">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="fsPara">- Functional Usability & Performance</p>
                <h1 class="fsHead">AI-ML <br> Development</h1>
                <p class="fsSecondPara">
                    we transform business of most major sectors with powerful and adaptable digital solutions that
                    satisfy the needs of today.</p>
                <div class="cirlces">
                    <div class="circle cir1"></div>
                    <div class="circle cir2"></div>
                    <div class="circle cir3"></div>
                    <div class="circle cir4"></div>
                    <div class="circle cir5"></div>
                    <div class="circle cir6"></div>
                    <div class="circle cir7"></div>
                    <div class="circle cir8"></div>
                </div>
            </div>
            <div class="col-md-6 fsImg text-center">
                <img [src]="img1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ssAIML">
    <div class="container">
        <div class="head text-center">
            <h1 class="ssHead">Services</h1>
            <img [src]="line" alt="">
        </div>
        <div class="links">
            <div class="row text-center">
                <a class="col serviceLink">
                    <p>iOS</p>
                </a>
                <a class="col serviceLink">
                    <p>Android</p>
                </a>
                <a class="col serviceLink">
                    <p>App Development</p>
                </a>
                <a class="col serviceLink">
                    <p>Software Development</p>
                </a>
                <a class="col serviceLink">
                    <p>Web Development</p>
                </a>
                <a class="col serviceLink">
                    <p>UI/UX Designing</p>
                </a>
                <a class="col serviceLink">
                    <p>Data Science Analytics</p>
                </a>
                <a class="col serviceLink">
                    <p>AI_ML Development</p>
                </a>
                <a class="col serviceLink">
                    <p>Blockchain</p>
                </a>
            </div>
        </div>
        <div class="ssImg text-center">
            <img [src]="img2" alt="">
        </div>
    </div>
    <div class="container cards mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>AI & ML Software Development</h6>
                            <p>Automate and Advance Your Business with Innovation-driven
                                Artificial Intelligence & Machine Learning Solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>AI and ML Development Services</h6>
                            <p>Our AI app developers design intelligent solutions to help your business solve problems,
                                automate tasks, and serve customers better..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Data Capture & Processing</h6>
                            <p>Everything circles back to data in AI and ML, and our software development experts
                                understand that. We build innovative solutions that help filter valuable data from the
                                multitude of structured and unstructured data in different formats that your business
                                produces. We help you analyse the data in a way that you can generate patterns of growth
                                and decline.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Analytics</h6>
                            <p>We are a trust
                                d ML/AI software development company powered by the skillset of big data, NLP and text
                                analysis, and predictive analytics.
                                Our data engineers specialize in extracting insights from data that help anticipate your
                                business outcomes in real-time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Helping Organizations Unlock Opportunities with Intelligent AI-driven Solutions</h6>
                            <p>The use of AI and machine learning software on micro and macro levels is expanding
                                rapidly. Companies and governments are beginning to harness the value of their data for
                                optimizing processes, bettering customer satisfaction, and reducing costs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Technologies We Use to Create AI-driven Smart Solutions:</h6>
                            <p class="ls">. Swift</p>
                            <p class="ls">. AWS</p>
                            <p class="ls">. Linux</p>
                            <p class="ls">. Java</p>
                            <p class="ls">. Kotlin</p>
                            <p class="ls">. Azure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>