.contact,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.contact a,
.email a{
  text-decoration: none;
  color: white;
}

.navBar {
  background-color: #f6c73b;
}

.imgbgc {
  background-color: #f7fcfb;
  padding: 0%;
  margin: -42px 0px -5px -80px;
  clip-path: polygon(0 0, 68% 0, 87% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 98px;
}

.rwLogo {
  width: 300px;
  height: 100px;

  position: absolute;
  top: 0;
  left: 12%;
}

ul li a {
  color: #252630;
  font-size: 1.25rem;
  font-weight: 400;
}

ul li a:hover {
  scale: 0.9 ;
  font: bolder;
}

.nav-one {
  background-color: #2e2e2e;
  color: white;
  padding: 10px 10px;

  position: relative;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.services {
  background-color: #ffffff;
  border: none;
  text-align: center;
  column-gap: 50px;
}

.services li a {
  color: rgb(8, 8, 8);
  line-height:  40px;;
}

.services li a:hover {
  background-color: rgb(67, 67, 246);
  color: white;
}

.userProfile {
  margin-top: -7px;
  width: 30px;
}

.meeennnuu {
  margin-top: 7%;
}

@media screen and (max-width: 992px) {
  .services {
    background-color: #f6c73b;
  }

  .meeennnuu {
    margin-top: 0%;
  }
}

@media screen and (max-width: 769px) {
  .imgbgc {
    background-color: #f7fcfb;
    padding: 0%;
    margin: -42px 0px -5px -80px;
    clip-path: polygon(0 0, 68% 0, 87% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 98px;
  }

  .rwLogo {
    width: 150px;
    height: 100px;

    position: absolute;
    top: 0;
    left: 29%;
  }

  .services {
    background-color: #f6c73b;
  }

  .meeennnuu {
    margin-top: 0%;
  }
}

@media screen and (max-width: 426px) {
  .imgbgc {
    background-color: #f7fcfb;
    padding: 0%;
    margin: -42px 0px -5px -80px;
    clip-path: polygon(0 0, 68% 0, 87% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 98px;
  }

  .rwLogo {
    width: 110px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 35%;
  }

  .contact a {
    font-size: 12px;
  }

  .email a {
    font-size: 12px;
  }

  .meeennnuu {
    margin-top: 0%;
  }
}

@media screen and (max-width: 376px) {
  .imgbgc {
    background-color: #f7fcfb;
    padding: 0%;
    margin: -42px 0px -5px -80px;
    clip-path: polygon(0 0, 68% 0, 87% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 98px;
  }

  .rwLogo {
    width: 120px;
    height: 100px;

    position: absolute;
    top: 0;
    left: 33%;
  }

  .contact a {
    font-size: 10px;
  }

  .email a {
    font-size: 10px;
  }

  .meeennnuu {
    margin-top: 0%;
  }
}

@media screen and (max-width: 321px) {
  .contact a {
    font-size: 8px;
  }

  .email a {
    font-size: 8px;
  }
}
