<!-- Section 1 -->
<div class="firstSection section1">
  <div class="container ">
    <div class="row ">

      <div class="col-md-6 ">
        <div class="careers">
          <h3>Careers
          </h3>

          <img [src]="underline" alt="" class="underline">

          <p class="buildFuture">Build a future you believe in </p>
        </div>
      </div>

      <div class="col-md-6 ">
        <img [src]="image1" alt="">
      </div>

    </div>
  </div>

</div>

<!-- Section 2 -->
<div class="secondSection">
  <div class="container ">

    <div class="row section2">

      <div class="col-md-6 group">
        <img [src]="image2" class="image2">
      </div>

      <div class="col-md-6 future">
        <div class="joinUs">JOIN US</div>
        <div class="f_technology">Shape the future of Technology</div>
        <div class="rwi">Railworld India, a top 20 Fastest-Growing Software Developer, delivers results to diverse
          industries—IT Manufacturing, Engineering, E-Commerce, Technology, Social Marketing, Saas, News, Game App,
          Metro, and Retail. Headquartered in India's capital city.</div>
      </div>

    </div>
  </div>
</div>

<!-- Section 3 -->

<div class="thirdSec ">
  <div class="container3">
    <div class="row ">

      <div class="col-md-6 ">
        <div class="g_future ">
          <p class="innovation">Greater futures through innovation</p>
          <p class="destination">What’s destination next? Is it better technology? A better you? Or a better community
            of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the
            journey.
          </p>


          <div class="button">
            <a href="job-desk">Search open roles </a>
          </div>
        </div>
      </div>

      <div class="col-md-6   ">
        <img [src]="image4" alt="" class="image3">
      
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>