<!-- PART-1 -->
<div class="con1">
  <div class="container">
    <div class="row">
      <div class="content col-md-6">
        <div class="data">
          <p class="text-function">-Functional Usability & Performance</p>
          <h1 class="head-text">
            WEB <br />
            DEVELOPMENT
          </h1>
          <p class="para">
            We transform businesses in most major sectors with powerful and
            adaptable digital solutions that satisfy the needs of today.
          </p>
        </div>
        <div class="circle-container">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <!-- <div class="tree-box">
          <div class="tree-container">
            <img class="img-tree1" [src]="treeImage" alt="tree-1" />
            <img class="img-tree1" [src]="treeImage" alt="tree-2" />
            <img class="img-tree1" [src]="treeImage" alt="tree-3" />
          </div>
          <div class=".tree-container-copy">
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-1" />
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-2" />
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-3" />
          </div>
        </div> -->
      </div>
      <div class="image col-md-6">
        <img class="img-lady" [src]="ladyImage" alt="Web Development Image" />
      </div>
    </div>
  </div>
</div>

<!-- PART-2 -->
<div class="con2">
  <div class="container2">
    <h2 class="heading">Services</h2>
    <div class="underline"></div>

    <div class="links">
      <a class="serviceLink" routerLink="/service/ios" target="_top">
        <p>iOS</p>
      </a>
      <a class="serviceLink" routerLink="/service/android" target="_top">
        <p>Android</p>
      </a>
      <a class="serviceLink" routerLink="/service/app-development" target="_top">
        <p>App Development</p>
      </a>
      <a class="serviceLink" routerLink="/service/software-development" target="_top">
        <p>Software Development</p>
      </a>
      <a class="serviceLink" routerLink="/service/web-development" target="_top">
        <p>Web Development</p>
      </a>
      <a class="serviceLink" routerLink="/service/ui-ux-designing" target="_top">
        <p>UI/UX Designing</p>
      </a>
      <a class="serviceLink" routerLink="/service/data-science" target="_top">
        <p>Data Science Analytics</p>
      </a>
      <a class="serviceLink" routerLink="/service/ai-ml-development" target="_top">
        <p>AI_ML Development</p>
      </a>
      <a class="serviceLink" routerLink="/service/blockchain" target="_top">
        <p>Blockchain</p>
      </a>
    </div>

    <div class="frame-image">
      <img class="rec-image" [src]="Rectangle" alt="Rectangle-image" />
    </div>

    <div class="container cards mt-5">
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>Web Application Development Services</h6>
                <p>
                  Helping Businesses build secure and scalable Web Applications,
                  Portals and Solutions Request a Proposal→
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>Build next-gen web applications</h6>
                <p>
                  We provide end-to-end web app development services, tailored
                  exclusively to solve your unique business challenges. We use
                  the latest technologies such as PHP, Web 2.0, HTML, Joomla,
                  WordPress, Drupal, Magento and OSCommerce to create responsive
                  and tailor-made web applications for your business.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>Custom application development</h6>
                <p>
                  Whether you need to build a custom web app from scratch,
                  migrate your legacy backend, or streamline existing front-end
                  functionality, as a dedicated web apps development company, we
                  can accomplish that in an efficient and cost-effective manner.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>Portal development</h6>
                <p>
                  As one of the most sought-after web apps development
                  companies, we also create web portals as well as enterprise
                  portals, capable of adhering to your custom business
                  requirements. Our web portals offer the best of performance,
                  cost-efficiency and growth potential. Our enterprise-level
                  deployments use productive intranets, extranets and engagement
                  workplaces.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>E-Commerce development</h6>
                <p>
                  As a website app development company, we offer end-to-end
                  eCommerce solutions with payment gateway integration, plug-in
                  high-end modules, round-the-clock maintenance, and appealing
                  UX for a delightful experience to the end users.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rectangle-box">
            <div class="row">
              <div class="col-2">
                <img [src]="squarebox" alt="" />
              </div>
              <div class="col-10">
                <h6>Web application support and maintenance</h6>
                <p>
                  We partner up with you in maintaining web applications either
                  developed by us or by third-party vendors. Whether it’s fixing
                  bugs or adding new functionality, our experienced engineers
                  can handle it all with aplomb. We also document and provide
                  support for all your future needs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>