<!-- PART-1 -->
<div class="con1">
  <div class="container">
    <div class="row">
      <div class="content col-md-6">
        <div class="data">
          <p class="text-function">-Functional Usability & Performance</p>
          <h1 class="head-text">
            WEB <br />
            DEVELOPMENT
          </h1>
          <p class="para">
            We transform businesses in most major sectors with powerful and
            adaptable digital solutions that satisfy the needs of today.
          </p>
        </div>
        <div class="circle-container">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="tree-box">
          <div class="tree-container">
            <img class="img-tree1" [src]="treeImage" alt="tree-1" />
            <img class="img-tree1" [src]="treeImage" alt="tree-2" />
            <img class="img-tree1" [src]="treeImage" alt="tree-3" />
          </div>
          <div class=".tree-container-copy">
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-1" />
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-2" />
            <img class="img-tree1-copy" [src]="treeImage" alt="tree-3" />
          </div>
        </div>
      </div>
      <div class="image col-md-6">
        <img class="img-lady" [src]="ladyImage" alt="Web Development Image" />
      </div>
    </div>
  </div>
</div>

<!-- PART-2 -->
<div class="con2">
  <div class="container2">
    <h2 class="heading">Services</h2>
    <div class="underline"></div>
    <div class="box-content">
      <div class="content2">
        <div class="box1">IOS</div>
        <div class="box1">Android</div>
        <div class="box">App Development</div>
        <div class="box">Software Development</div>
        <div class="box">Web Development</div>
        <div class="box">UI/UX Designing</div>
        <div class="box">Data Science Analytics</div>
        <div class="box">AI_ML Development</div>
        <div class="box1">Blockchain</div>
      </div>
    </div>

    <div class="frame-image">
      <img class="rec-image" [src]="Rectangle" alt="Rectangle-image" />
    </div>

    <!-- <div class="text">Web Development Services</div> -->
    <div class="detail-box grid">
      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">Web Application Development Services</h3>
          <p class="para1">
            Helping Businesses build secure and scalable Web Applications,
            Portals and Solutions Request a Proposal.
          </p>
        </div>
      </div>

      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">Build next-gen web applications</h3>
          <p class="para1">
            We provide end-to-end web app development services, tailored
            exclusively to solve your unique business challenges. We use the
            latest technologies such as PHP, Web 2.0, HTML, Joomla, WordPress,
            Drupal, Magento and OSCommerce to create responsive and tailor-made
            web applications for your business.
          </p>
        </div>
      </div>

      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">Custom application development</h3>
          <p class="para1">
            Whether you need to build a custom web app from scratch, migrate
            your legacy backend, or streamline existing front-end functionality,
            as a dedicated web apps development company, we can accomplish that
            in an efficient and cost-effective manner.
          </p>
        </div>
      </div>

      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">Portal development</h3>
          <p class="para1">
            As one of the most sought-after web apps development companies, we
            also create web portals as well as enterprise portals, capable of
            adhering to your custom business requirements. Our web portals offer
            the best of performance, cost-efficiency and growth potential. Our
            enterprise-level deployments use productive intranets, extranets and
            engagement workplaces.
          </p>
        </div>
      </div>

      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">E-Commerce development</h3>
          <p class="para1">
            As a website app development company, we offer end-to-end eCommerce
            solutions with payment gateway integration, plug-in high-end
            modules, round-the-clock maintenance, and appealing UX for a
            delightful experience to the end users.
          </p>
        </div>
      </div>

      <div class="service-details g-col-6">
        <div class="rectangle-box">
          <div class="square-box"></div>
          <h3 class="webapp">Web Application Development Services</h3>
          <p class="para1">
            We partner up with you in maintaining web applications either
            developed by us or by third-party vendors. Whether it’s fixing bugs
            or adding new functionality, our experienced engineers can handle it
            all with aplomb. We also document and provide support for all your
            future needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
