<div class="fsAIML">
    <div class="container con1">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="fsPara">- Functional Usability & Performance</p>
                <h1 class="fsHead">UI-UX <br> Designing</h1>
                <p class="fsSecondPara">
                    we transform business of most major sectors with powerful and adaptable digital solutions that
                    satisfy the needs of today.</p>
                <div class="cirlces">
                    <div class="circle cir1"></div>
                    <div class="circle cir2"></div>
                    <div class="circle cir3"></div>
                    <div class="circle cir4"></div>
                    <div class="circle cir5"></div>
                    <div class="circle cir6"></div>
                    <div class="circle cir7"></div>
                    <div class="circle cir8"></div>
                </div>
            </div>
            <div class="col-md-6 fsImg text-center">
                <img [src]="img1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ssAIML">
    <div class="container">
        <div class="head text-center">
            <h1 class="ssHead">Services</h1>
            <img [src]="line" alt="">
        </div>
        <div class="links">
            <div class="row text-center">
                <a routerLink="/service/ios" target="_top" class="col serviceLink">
                    <p>iOS</p>
                </a>
                <a routerLink="/service/android" target="_top" class="col serviceLink">
                    <p>Android</p>
                </a>
                <a routerLink="/service/app-development" target="_top" class="col serviceLink">
                    <p>App Development</p>
                </a>
                <a routerLink="/service/software-development" target="_top" class="col serviceLink">
                    <p>Software Development</p>
                </a>
                <a routerLink="/service/web-development" target="_top" class="col serviceLink">
                    <p>Web Development</p>
                </a>
                <a routerLink="/service/ui-ux-designing" target="_top" class="col serviceLink">
                    <p>UI/UX Designing</p>
                </a>
                <a routerLink="/service/data-science" target="_top" class="col serviceLink">
                    <p>Data Science Analytics</p>
                </a>
                <a routerLink="/service/ai-ml-development" target="_top" class="col serviceLink">
                    <p>AI_ML Development</p>
                </a>
                <a routerLink="/service/blockchain" target="_top" class="col serviceLink">
                    <p>Blockchain</p>
                </a>
            </div>
        </div>
        <div class="ssImg text-center">
            <img [src]="img2" alt="">
        </div>
    </div>
    <div class="container cards mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>RailWorld UI/UX Services</h6>
                            <p>At RailWorld, we specialize in crafting intuitive and visually appealing User Interfaces
                                (UI) and enhancing User Experiences (UX) for our clients in the industry. Our services
                                are designed to elevate digital platforms, ensuring seamless interactions and customer
                                satisfaction. Here's what our UI/UX services compass:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>User Interface (UI) Design</h6>
                            <p>1. Wireframing and Prototyping <br>
                                2. Visual Design <br>
                                3. Responsive Design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>User Experience (UX) Enhancement</h6>
                            <p>1. User Research and Analysis <br>
                                2. Information Architecture <br>
                                3. Usability Testing
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Additional Services</h6>
                            <p>1. Accessibility Compliance <br>
                                2. Iterative Improvements <br>
                                3. Consultation and Collaboration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>At RailWorld</h6>
                            <p>we are dedicated to creating UI/UX solutions that not only enhance the digital
                                experiences of users but also align with your business objectives. Let's embark on a
                                journey to transform your
                                digital presence into an intuitive and engaging platform for your audience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>