<div class="fsSoftwareDev">
    <div class="container con1">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="fsPara">- Functional Usability & Performance</p>
                <h1 class="fsHead">Software <br> Development</h1>
                <p class="fsSecondPara">
                    we transform business of most major sectors with powerful and adaptable digital solutions that
                    satisfy the
                    needs of today.</p>
                <div class="cirlces">
                    <div class="circle cir1"></div>
                    <div class="circle cir2"></div>
                    <div class="circle cir3"></div>
                    <div class="circle cir4"></div>
                    <div class="circle cir5"></div>
                    <div class="circle cir6"></div>
                    <div class="circle cir7"></div>
                    <div class="circle cir8"></div>
                </div>
            </div>
            <div class="col-md-6 fsImg text-center">
                <img [src]="img1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ssSoftwareDev">
    <div class="container">
        <div class="head text-center">
            <h1 class="ssHead">Services</h1>
            <img [src]="line" alt="">
        </div>
        <div class="links">
            <div class="row text-center">
                <button (click)="redirectToIos()" class="col serviceLink">
                    <p>iOS</p>
                </button>
                <button (click)="redirectToAndroid()" class="col serviceLink">
                    <p>Android</p>
                </button>
                <button (click)="redirectToAppDevelopment()" class="col serviceLink">
                    <p>App Development</p>
                </button>
                <button (click)="redirectToSoftwareDevelopment()" class="col serviceLink">
                    <p>Software Development</p>
                </button>
                <button (click)="redirectToWebDevelopment()" class="col serviceLink">
                    <p>Web Development</p>
                </button>
                <button (click)="redirectToWebDevelopment()" class="col serviceLink">
                    <p>UI/UX Designing</p>
                </button>
                <button (click)="redirectToWebDevelopment()" class="col serviceLink">
                    <p>Data Science Analytics</p>
                </button>
                <button (click)="redirectToWebDevelopment()" class="col serviceLink">
                    <p>AI_ML Development</p>
                </button>
                <button (click)="redirectToWebDevelopment()" class="col serviceLink">
                    <p>Blockchain</p>
                </button>
            </div>
        </div>
        <div class="ssImg text-center">
            <img [src]="img3" alt="">
        </div>
    </div>
    <div class="container cards mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Custom Software Development Services</h6>
                            <p>As a custom software development company, we offer a wide range of software development
                                services that meet your specific business needs..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Software Consulting Services</h6>
                            <p>As one of the most sought-after custom software development companies, we analyze your
                                business needs, conceptualize software, and help you get the best value from its
                                development. Our team also assists you in selecting the right technology stack by
                                reviewing pros and cons of technologies before starting the project.. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Custom Software Development Services</h6>
                            <p>In today's highly volatile and competitive market landscape, custom software development
                                helps you to achieve the desired business proficiency. Appinventiv is a custom software
                                development company that delivers you just the right software tailored to your business
                                needs..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Enterprise Software Development Services</h6>
                            <p>We help organizations become a lasting success by re-engineering enterprise software
                                development solutions of different complexity levels. Our custom software application
                                development solutions will help scale your business infrastructure while improving the
                                key facets of your organization at the same time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Software Product Development Services</h6>
                            <p>We are a full-cycle software product development company that helps your organization
                                with end-to-end product development services - starting from market research and
                                business analysis to development, deployment, post-launch maintenance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Software Integration Services</h6>
                            <p>We help organizations become a lasting success by re-engineering enterprise software
                                development solutions of different complexity levels. Our custom software application
                                development solutions will help scale your business infrastructure while improving the
                                key facets of your organization at the same time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Custom CRM Development Services</h6>
                            <p>As a coveted software application development company, we also offer custom CRM software
                                development services that are focused on automating your business processes, improving
                                relationships with customers, and driving up efficiency of business operations.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>API Development Services</h6>
                            <p>Our custom software developers offer robust API development and API integration services
                                for your software applications to seamlessly connect with your customers and vendor
                                partners and drive better revenues.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>