<div class="fsBlockchain">
    <div class="container con1">
        <div class="row row-cols-12 row-cols-sm-12  row-cols-md-12">
            <div class="col-md-6">
                <p class="fsPara">- Functional Usability & Performance</p>
                <h1 class="fsHead">Blockchain <br> Development</h1>
                <p class="fsSecondPara">
                    we transform business of most major sectors with powerful and adaptable digital solutions that
                    satisfy the needs of today.</p>
                <div class="cirlces">
                    <div class="circle cir1"></div>
                    <div class="circle cir2"></div>
                    <div class="circle cir3"></div>
                    <div class="circle cir4"></div>
                    <div class="circle cir5"></div>
                    <div class="circle cir6"></div>
                    <div class="circle cir7"></div>
                    <div class="circle cir8"></div>
                </div>
            </div>
            <div class="col-md-6 fsImg text-center">
                <img [src]="img1" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ssBlockchain">
    <div class="container">
        <div class="head text-center">
            <h1 class="ssHead">Services</h1>
            <img [src]="line" alt="">
        </div>
    </div>
    <div class="links">
        <a class="serviceLink" routerLink="/service/ios" target="_top">
            <p>iOS</p>
        </a>
        <a class="serviceLink" routerLink="/service/android" target="_top">
            <p>Android</p>
        </a>
        <a class="serviceLink" routerLink="/service/app-development" target="_top">
            <p>App Development</p>
        </a>
        <a class="serviceLink" routerLink="/service/software-development" target="_top">
            <p>Software Development</p>
        </a>
        <a class="serviceLink" routerLink="/service/web-development" target="_top">
            <p>Web Development</p>
        </a>
        <a class="serviceLink" routerLink="/service/ui-ux-designing" target="_top">
            <p>UI/UX Designing</p>
        </a>
        <a class="serviceLink" routerLink="/service/data-science" target="_top">
            <p>Data Science Analytics</p>
        </a>
        <a class="serviceLink" routerLink="/service/ai-ml-development" target="_top">
            <p>AI_ML Development</p>
        </a>
        <a class="serviceLink" routerLink="/service/blockchain" target="_top">
            <p>Blockchain</p>
        </a>
    </div>
    <div class="ssImg text-center">
        <img [src]="img2" alt="">
    </div>
    <div class="container cards mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Blockchain Development Services</h6>
                            <p>Blockchain technology has come out as the new door for various industries to enter a new
                                age of tech-driven transactions where every asset is decentralized. Helping businesses
                                tapping into a decentralized ecosystem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Make your business highly secure with our blockchain app development services</h6>
                            <p>Our highly skilled blockchain app developers have excelled their skills at working with
                                multiple platforms, including Ethereum and Solidity, and thus give you a wealth of
                                options and solutions while planning to step into this world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Add innovative apps into your business solutions</h6>
                            <p>We serve you with a wide range of decentralized solutions that add scalability,
                                transparency, and security to your ecosystem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Blockchain app consultation</h6>
                            <p>We help business leaders recognize how blockchain can be a perfect fit to their business
                                model. Our blockchain consulting services and app development solutions include tailor
                                made apps built on high functioning platforms like Hyperledger, EOS, and Stellar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>MVP development</h6>
                            <p>We believe in testing the waters before launching a full-fledged DApp. So, our Blockchain
                                solutions development revolves around the building and launch of a DApp MVP.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Smart contracts development</h6>
                            <p>Our team of smart contract developers craft immutable and accurate smart contracts which
                                make the business ecosystem conflict-free From ideation, design, coding to the final
                                launch, we handle your complete DApp development process from start to finish through
                                our expertise in Blockchain decentralized app development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Crypto exchange development</h6>
                            <p>IEO & ICO services Our all-round IEO & ICO services include preparing your idea for
                                investors, generation of cryptocurrency for distribution, development of white papers,
                                and promotion of your IEO & ICO.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="box" alt="">
                        </div>
                        <div class="col-10">
                            <h6>Why you choose to Railworld India Pvt Ltd.</h6>
                            <p class="ls">. Agile Development Process</p>
                            <p class="ls">. Cost Effective Development</p>
                            <p class="ls">. Quality assurance & Testing</p>
                            <p class="ls">. Round-the-clock Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>