

<!-- Section 1 -->
<div class="firstSection">
  <div class="container  firstContainer">
    <marquee>
      <h3>Welcome to Railworld India turn your ideas into products...</h3>
    </marquee>


    <div class="row section1">
      <div class="col-md-6">

        <div class="leftpart">
          <p class="railworld">
            <span class="rail1">Railworld</span> India Private Limited
            <span class="great">Great</span> <span class="product"> Product</span> is
            Built by <span class="great">Great</span>
            <span class="teams"> Teams</span>.
          </p>

          <button class="button" routerLink="/contact-us" target="top"> Deal With Us</button>
        </div>
      </div>

      <div class="col-md-6 programming">
        <img [src]="undraw_programming">
      </div>

    </div>
  </div>

</div>

<!-- Section 2 -->
<div class="secondSection">
  <div class="container ">
    <p class="secondSecHeading">We help build and manage a team of world-class developers to bring your
      vision to life
      <img [src]="Heading" class="underline">
    </p>

  </div>
</div>


<div class=" circle">
  <!-- Section 3 -->
  <div class="thirdtSection">
    <div class="container container3">

      <div class="row section3">

        <div class="col-md-6 group">
          <img [src]="group">
        </div>

        <div class="col  ">
          <p class="groupHeading">Leading companies trust us <span class="softwareDevelop"> to develop software</span>
          </p>

          <div class="paragraphs">
            <p>We add development capacity to tech teams. Our value isn’t limited to building teams but is equally
              distributed across the project lifecycle. We are a custom software development company that guarantees the
              successful delivery of your project.</p>
          </div>

        
          <div class="information" > 
            <a href="" routerLink="/about-us" target="_top"> See More Information
              <img class="Rightarrow" [src]="RightArrow">
            </a> 
           
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--Fourth Section -->
  <div class="fourthSection">
    <div class="container ">
      <p class="fourthSecHeading">Meet the People <span> We are Working With</span>
        <img [src]="Heading" class="underline">
      </p>
    </div>
  </div>


  <!-- Section 5 -->
  <div class="fifthSection">
    <div class="container container5">

      <div class="row section5">

        <div class="col-md-6 paras">
          <p class="p1">Build the right team to scale</p>


          <p class="p2">Finding the right talent is not easy. We help you find the talent that suits your needs, follows
            your
            processes, and sticks with you long term (not the case with freelancers)
          </p>

          <p class="p3">
            Our <span class="delivery"> delivery model</span> helps you cut costs and deliver within budget.
          </p>
        </div>

        <div class="col-md-6 colleagues">
          <img [src]="colleagues">
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Section 6 -->
<div class="sixthSection">
  <div class="container ">
    <p class="sixthSecHeading">Our design and
      <span class="develop_app"> development approach</span>
      <img [src]="Heading" class="underline">
    </p>
  </div>
</div>


<!-- Section 7 -->
<div class="seventhSection">
  <div class="container container7">

    <div class="row section7">
      <!-- First Column -->
      <div class="col-md-6 ">

        <!-- First Card -->
        <div class="Rows">
          <div class="cards">
            <div class="uidriven">
              <img [src]="uiuxDriven" alt="" class="cardImg">
            </div>
            <div>
              <h5>UX Driven Engineering</h5>
              <p>Unlike other companies, we are a <span class="uxDriven">UX first</span> development company. Projects
                are driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>


        <!-- 2nd Card -->
        <div class="Rows">
          <div class="cards">
            <div class="heartRate">
              <img [src]="heartRate" alt="" class="cardImg">
            </div>
            <div>
              <h5>Proven Experience and Expertise</h5>
              <p>Unlike other companies, we are a UX first<span class="heart"> UX first</span> development company.
                Projects are driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>


        <!-- 3rd Card -->
        <div class="Rows">
          <div class="cards">
            <div class="Success">
              <img [src]="Success" alt="" class="cardImg">
            </div>
            <div>
              <h5>Code Reviews</h5>
              <p>Unlike other companies, we are a <span class="codeReview"> UX first</span> development company.
                Projects are driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Column -->
      <div class="col-md-6 ">

        <!-- 4th Card -->
        <div class="Rows">
          <div class="cards">
            <div class="code">
              <img [src]="code" alt="" class="cardImg">
            </div>
            <div>
              <h5>Developing Shared Understanding</h5>
              <p>Unlike other companies, we are a <span class="developing">UX first </span> development company.
                Projects are driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>


        <!-- 5th Card -->
        <div class="Rows">
          <div class="cards">
            <div class="shield">
              <img [src]="shield" alt="" class="cardImg">
            </div>

            <div>
              <h5>Security & Intellectual Property (IP)</h5>
              <p>Unlike other companies, we are a <span class="security">UX first</span> development company. Projects
                are driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>


        <!-- 6th Card -->
        <div class="Rows">
          <div class="cards">
            <div class="Padlock">
              <img [src]="Padlock" alt="" class="cardImg">
            </div>

            <div>
              <h5>Quality Assurance & Testing</h5>
              <p>Unlike other companies, we are a <span class="lock"> UX first</span> development company. Projects are
                driven by designers and
                they make sure design and experiences translate to code.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- section 8 -->
<div class="eightSection">
  <div class="container ">
    <p class="eightSecHeading">Our
      <span> Tech Stack</span>
      <img [src]="Heading" class="underline">
    </p>
  </div>
</div>


<!-- Section 9 -->
<div class="ninthSection">
  <div class="container ">
    <div class="row ">
      <div class="">
        <img [src]="techStack" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Section 10  -->
<div class="tenthSection">
  <div class="container container10">
    <p class="clientReview">
      <span class="clients">CLIENTS REVIEW</span>
      Our Clients Get Helped From Our Company
      <img [src]="Heading" class="underline">
    </p>
  </div>
</div>

<!-- Section 11  -->
<div class="elevenSection">
  <div class="container text-center">

    <div class="row reviewCrd">
      
      <!-- 1st Col -->
      <div class="col reviewCard">

        <p class="name">Rajat Bansal</p>
        <div class="stars">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p class="reviews"> <span class="comma1">“ </span> <br> I was pleasantly impressed by 'Railworld India Pvt.
          Ltd.' accurate
          work in business analytics and development when I entrusted them with my project. In terms of performance
          and quality, they demonstrated a great level of ability and competency in designing our products. Our team
          wholeheartedly endorses their services. They have not left any stone untouched.
          <!-- <br> -->
          <span class="comma2"> “ </span>
        </p>

      </div>

      <!-- 2nd  Col -->
      <div class="col reviewCard">

        <p class="name">Anurag Sahi</p>
        <div class="stars">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p class="reviews"> <span class="comma1">“ </span> <br> The relationship that we have with Railworld India
          Pvt. Ltd. is
          strongly based on the delivery of high-quality Web Development and their Solutions. We've worked on a number
          of projects over the years, and their ability to always provide a high-quality result astounds us. We have
          no doubts in recommending Railworld India Pvt. Ltd. to others.
          <br>
          <span class="comma2"> “ </span>
        </p>

      </div>

      <!-- 3rd Col -->
      <div class="col reviewCard">

        <p class="name">Monika Lalwani</p>
        <div class="stars">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p class="reviews"> <span class="comma1">“ <br></span> From the very first meet the Railworld India team kept
          things simple
          and straightforward. There was never aversion to the particular kinds of modules I wanted them to create,
          which was a key reason in my decision to go with them. I highly suggest Railworld India Pvt. Ltd. for the
          implementation of any Startup's software product needs because they always had a "We are absolutely going to
          do it" spirit".
          <!-- <br> -->
          <span class="comma2"> “ </span>
        </p>

      </div>


    </div>
  </div>


</div>

<!-- Section 12 -->
<div class="twelveSection">
  <div class="container ">


    <div class="row section12">
      <div class="hiring">
        <div class="col-md-6 ">
          <p class="bestDevelopers">Hire the best developers and designers around!</p>
        </div>

        <div class=" workingwomen">
          <img [src]="womanworking" alt="">
          <img [src]="hire" alt="">
        </div>
      </div>

    </div>
  </div>

</div>

<app-footer></app-footer>

