@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&family=Poppins:wght@100&display=swap");

* {
  font-family: "Poppins";
}

/* Section 1 CSS */

.firstSection {
  background-image: url("../../assets//LandingPageImg/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 {
  padding-bottom: 7%;
}

h3 {
  text-align: center;
  font-size: 1.3rem;
  color: black;
  font-weight: 400;
  margin-bottom: 10%;
  margin-top: 2.5%;
}

.programming img {
  width: 500px;
}

.railworld {
  font-size: 2.5rem;
}

.rail1 {
  color: #021eba;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 147.5%;
}

.great {
  background: linear-gradient(180deg, #3d63ea 44.46%, #000 66.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 3.438rem;
  text-transform: capitalize;
}

.product {
  background: linear-gradient(
    180deg,
    #e14d4d 27.72%,
    rgba(13, 28, 159, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 600;
}

.teams {
  background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins";
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.button {
  border: none;
  display: inline-flex;
  padding: 2.5% 5%;
  justify-content: center;
  align-items: center;
  border-radius: 0.357rem;
  background: #3d63ea;
  box-shadow: 0px 4.571px 55.999px 0px rgba(0, 0, 0, 0.15);
  color: #fafafa;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 600;
}

/* Section 2 CSS */

.secondSecHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 2.45rem;
  font-weight: 400;
  margin-top: 6%;
  padding: 0% 5%;
  line-height: 50px;
}

/* Section 3 CSS */

.container3 {
  background-color: rgba(202, 200, 232, 0.6);
  padding: 6%;
  border-radius: 30px;
}

.group img {
  width: 450px;
}

.groupHeading {
  color: #1a202c;
  font-size: 2.361rem;
  font-weight: 400;
  line-height: 157.143%;
}

.softwareDevelop {
  color: #1a202c;
  font-size: 2.361rem;
  font-weight: 900;
  line-height: 59.372px;
}

.paragraphs p {
  margin-top: 5%;
  font-size: 1.214rem;
  font-weight: 400;
  line-height: 200%;
  background: var(
    --Gradient-Primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information {
 margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  color: #57007b;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}

.information a{
 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  color: #57007b;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}

.Rightarrow {
  width: 1.3rem;
  height: 1.3rem;
  color: rgba(87, 0, 123, 1);
}

.circle {
  background-image: url("../../assets/LandingPageImg/circle.svg");
  background-repeat: repeat-y;
  animation: 10s linear 1s infinite slideBackground;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Section 4 CSS */

.fourthSection {
  margin-top: 5%;
}

.fourthSecHeading,
.eightSecHeading,
.sixthSecHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a202c;
  font-family: "Inter";
  font-size: 2.361rem;
  font-weight: 400;
  line-height: 50px;
}

.working,
.approach,
.techStacks {
  color: #1a202c;
  font-family: "Inter";
  font-size: 2.361rem;
  font-weight: 700;
}

/* Section 5 CSS  */

.container5 {
  background-image: url("../../assets/LandingPageImg/Rectangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(242, 216, 242);
  padding: 6%;
  border-radius: 30px;
}

.paras {
  display: flex;
  flex-direction: column;
}

.p1 {
  color: #1a202c;
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
}

.p2 {
  margin-top: 5%;
  color: #2d3748;
  font-size: 1.125rem;
  font-weight: 400;
}

.p3 {
  margin-top: 5%;
  color: #2d3748;
  font-size: 1.125rem;
  font-weight: 400;
}

.delivery {
  background: var(
    --Gradient-Primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.125rem;
  font-weight: 400;
}

.colleagues {
  animation: 5s linear 2s infinite pulse;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1) translateX(20px);
  }
}

/* Section 6 */

.sixthSection {
  margin-top: 6%;
}

.underline {
  height: 50px;
  width: 75px;
}

/* Section 7 CSS  */

.container7 {
  background-image: url("../../assets/LandingPageImg/gif.gif");
  background-size: cover;
}

.section7 {
  font-family: "Inter";
  padding: 8%;
}

.Rows {
  margin-bottom: 7%;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1.1rem;
  padding: 7% 4%;
  border: 1px solid var(--Shade-Primary-lite-bg, #e7daed);
  background: var(--Gray-gray-50, #fafafa);
  height: 200px;
}

.cards:hover {
  cursor: pointer;
  background: rgb(242, 206, 212);
  transition-duration: 0.3s;
}

.cardImg {
  width: 59px;
  height: 56px;
  border-radius: 10px;
}

.uxDriven {
  background: var(
    --Gradient-dark-bg,
    linear-gradient(225deg, #29272e 0%, #27272e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;
  font-weight: 700;
}

.developing {
  background: var(
    --Gradient-info-bg,
    linear-gradient(225deg, #68dbf2 0.01%, #509cf5 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;

  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
}

.heart {
  background: var(
    --Gradient-tertiary-bg,
    linear-gradient(224deg, #ff92ae 8.18%, #ff3d9a 95.84%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
}

.security {
  background: var(
    --Gradient-success-bg,
    linear-gradient(225deg, #67e9f1 0%, #24e795 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
}

.codeReview {
  background: var(
    --Gradient-warning-bg,
    linear-gradient(225deg, #ffef5e 0%, #f7936f 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
}

.lock {
  background: var(
    --Gradient-Primary-bg,
    linear-gradient(225deg, #f76680 0%, #57007b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "salt" on;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

.eightSection {
  margin-top: 5%;
}

/* Section 10 CSS  */

.tenthSection {
  margin-top: 8%;
}

.clients {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 2.25rem;
  line-height: 50px;
}

.clientReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a202c;
  text-align: center;
  font-family: "Inter";
  font-size: 2.361rem;
  font-weight: 400;
  line-height: 1;
}

/* Section 11 */

.reviewCard {
  padding: 3% 2%;
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.8);
  gap: 50px;
}

.reviewCrd {
  gap: 30px;
}

.reviewCard:hover {
  .name,
  .reviews,
  .stars {
    transform: translateY(-10px) translateX(15px);
    transition-duration: 1s;
  }
}

.name {
  text-align: center;
  color: #000;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 500;
}

.reviews {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  float: right;
}

.stars {
  text-align: center;

}

.comma1 {
  font-weight: bolder;
  font-size: 40px;
  float: left;
}

.comma2 {
  font-weight: bolder;
  float: right;
  font-size: 40px;
}

.allcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

/* Section 12  */

.twelveSection {
  margin-top: 3%;
  font-family: "Inter";
}

.section12 {
  padding: 5% 5%;
  border-radius: 20px;
  background: var(
    --Gradient-Secondery-bg,
    linear-gradient(225deg, #f1f1f5 0%, #e4ecf7 100%)
  );
}

.hiring {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bestDevelopers {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  background: var(
    --Gradient-dark-bg,
    linear-gradient(225deg, #29272e 0%, #27272e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
  .railworld {
    font-size: 1.5rem;
  }

  .programming img {
    width: 400px;
  }

  .group img {
    width: 400px;
    margin-top: 20%;
  }

  .cards {
    height: 250px;
  }

  .workingwomen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .railworld {
    font-size: 1.5rem;
  }

  .rail1 {
    font-size: 1.5rem;
  }

  .great {
    font-size: 1.5rem;
  }

  .product {
    font-size: 1.5rem;
  }

  .teams {
    font-size: 1.5rem;
  }

  .section3 {
    display: flex;
    flex-direction: column;
  }

  .group img {
    margin-top: -5%;
  }
}

@media screen and (max-width: 768px) {
  .programming img {
    width: 350px;
    margin-top: 2%;
  }

  .secondSecHeading {
    font-size: 1.8rem;
    text-align: center;
    padding: 0% 15%;
    line-height: 30px;
  }

  .group img {
    margin-top: -5%;
  }

  .groupHeading {
    font-size: 1.8rem;
  }

  .softwareDevelop {
    font-size: 2rem;
  }

  .hiring {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bestDevelopers {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .railworld {
    font-size: 1.6rem;
  }

  .rail1 {
    font-size: 1.6rem;
  }

  .great {
    font-size: 1.6rem;
  }
  .product {
    font-size: 1.6rem;
  }

  .teams {
    font-size: 1.6rem;
  }

  .fourthSecHeading,
  .eightSecHeading,
  .sixthSecHeading {
    font-size: 1.8rem;
    line-height: 30px;
  }

  .clientReview {
    font-size: 1.8rem;
  }

  .clients {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    font-size: 2rem;
  }

  .section3 {
    display: flex;
    flex-direction: column;
  }

  .colleagues {
    margin-top: 5%;
  }
}

@media screen and (max-width: 426px) {
  .programming img {
    margin-top: 10%;
  }

  .secondSecHeading {
    font-size: 1.5rem;
    padding: 0% 2%;
  }

  .group img {
    width: 335px;
  }

  .fourthSecHeading,
  .eightSecHeading,
  .sixthSecHeading {
    font-size: 1.8rem;
  }

  .groupHeading{
    font-size: 1.2rem;
  }

  .softwareDevelop{
    font-size: 1.5rem;
  }


  .paragraphs{
    font-size: 0.7rem;
  }

  .p1 {
    font-size: 1.3rem;
    line-height: 100%;
  }

  .p2 {
    font-size: 0.7rem;
  }

  .p3 {
    font-size: 0.7rem;
  }

  .clients {
    font-size: 1.5rem;
    line-height: 30px;
  }
  
  .clientReview {
    font-size:1.2rem;
    line-height: 1;
  }


  
  .name {
    font-size: 1.2rem;
  }
  
  .reviews {
    
    font-size: 1rem;
  }
  .bestDevelopers {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .fourthSecHeading,
  .eightSecHeading,
  .sixthSecHeading {
    font-size: 1.3rem;
  }

  .programming img {
    width: 250px;
    margin-top: 10%;
  }

  .group img {
    width: 280px;
  }

  .cards {
    height: 350px;
  }
}
