@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kalam&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');


/* part1 */

.con1 {
  background-image: url('../../../assets/WebIos/wave-layered.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.data {
  margin: 13% auto;
}

.text-function {
  color: #BA1200;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  margin: 10% 2% 2% 0;
}

.head-text {
  font-family: Poppins;
  color: #3D63EA;
  font-size: 48px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 120%;
  margin: 1% 2% 3% 0;
}

.para {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 2% 3% 5% 0;
}


.circle-container {
  display: flex;
  margin: -5% 12% 5% 0;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6EA731;
  margin: 6px;
}

.circle:nth-child(2) {
  background-color: #7D00B1;
}

.circle:nth-child(3) {
  background-color: #FF4D6D;
  ;
}

.circle:nth-child(4) {
  background-color: #FF6610;
}

.circle:nth-child(5) {
  background-color: #C87AE1;
}

.circle:nth-child(6) {
  background-color: #0CBC8B;
}

.circle:nth-child(7) {
  background-color: #3D63EA;
}

.circle:nth-child(8) {
  background-color: #F6C73B;
}

.tree-box {
  margin: 85px 10px;
}

.img-tree1 {
  max-width: 100%;
  height: auto;
  margin: 6px;
}

.img-tree1-copy {
  max-width: 100%;
  height: auto;
  margin: 6px;
  transform: rotate(180deg);
  opacity: 0.1;
}

.image {
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.img-lady {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-top: 6em;
  margin-bottom: 5em;
}


/* part2 */

.heading {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}

.underline {
  width: 70px;
  height: 4px;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  margin: 2em auto;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serviceLink {
  border-radius: 0.62rem;
  background: #E2E8FC;
  padding: 1% 0.6%;
  margin: 1%;
  font-family: poppins;
  font-size: 0.93rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: black;
  width: 13.12rem;
  height: 4rem;
  text-align: center;
  transition: all 0.5s;
}

.serviceLink:hover {
  background-color: rgb(199, 211, 251);
  cursor: pointer;
}

.frame-image {
  display: flex;
  justify-content: center;
  background-color: #8996B9;
  padding: 1% 1%;
  margin: 6% 30%;
  border-radius: 5%;
}

.rec-image {
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 1px;
  max-width: 100%;
  height: auto;
}

.text {
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.rectangle-box {
  height: 323px;
  padding: 5% 3%;
  margin: 2% 0;
  background-color: #FAFAFA;
}

.squarebox,
h6,
p {
  transition: transform 0.3s ease-in-out;
}

.rectangle-box:hover {
  cursor: pointer;
  background-color: #BFCCFC;
  transition-duration: 800ms;
  padding: 3%;
  box-shadow: 0 0 10px 3px #a79090;
}

.rectangle-box:hover,
h6 .rectangle-box:hover .squarebox .rectangle-box:hover,
p {
  transform: translateY(10px);
}


.col-10 h6 {
  color: #1A202C;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 136.523%;
}

.col-10 p {
  color: #4A5568;
  font-feature-settings: 'salt' on;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.023%;
  opacity: 0.6;
}

/* Responsive */

@media screen and (max-width: 992px) {
  .rectangle-box {
    height: fit-content;
  }

  .img-lady {
    margin: 15% 1%;
  }

  .col-2 img {
    height: 42px;
  }

  .text-function {
    font-size: 12px;
    margin: 0 1% 2% 0;
  }

  .head-text {
    font-size: 30px;
    margin: 1% 1% 0 0;
  }

  .para {
    font-size: 10px;
    line-height: 13px;
    margin: 0% 1% 1% 0;
  }

}

@media screen and (max-width: 768px) {

  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 4px;
  }

  .rectangle-box {
    height: 300px;
  }

  .col-10 h6 {
    font-size: 15px;
  }

  .col-10 p {
    font-size: 12px;
  }

  .serviceLink {
    font-size: 13px;
  }

}

@media screen and (max-width: 375px) {

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 4px;
  }

  .rectangle-box {
    height: 250px;
  }

  .col-10 h6 {
    font-size: 12px;
  }

  .col-10 p {
    font-size: 10px;
  }

  .col-2 img {
    height: 35px;
  }

}

@media screen and (max-width: 450px) {


  .text-function {
    font-size: 9px;
    margin: 2% 1% 2% 0;
  }

  .head-text {
    font-size: 40px;
    margin: 4% 5% 0 0;
  }

  .para {
    font-size: 9px;
    line-height: 15px;
    margin: 0% 3% 5% 0;
  }

  .head-text {
    font-size: medium;
  }

  .rectangle-box {
    height: fit-content;
  }

  .heading {
    font-size: smaller;
  }

  .underline {
    height: 1px;
    width: 25px;
  }

  .container_links {
    margin: 1% 1%;
  }

  .heading {
    font-size: 30px;
    margin-top: 0.5em;
  }

  .underline {
    width: 55px;
    height: 3px;
    margin: 1em auto;
  }

  .serviceLink {
    padding: 1.5% 1%;
    margin: 0.5%;
    font-size: 0.8rem;
    width: 11rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1024px) {

  .blcha {
    height: 25px;
    width: 30px;
  }
}